[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rdflib = "*"
rdfdict = "*"
pyside2 = "*"

[dev-packages]
meson = "*"

[requires]
python_version = "3.7"
python_full_version = "3.7.11"
